@{
    ViewData["Title"] = "Women";
}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Footwear - Free Bootstrap 4 Template by Colorlib</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="./Women_files/css" rel="stylesheet">
    <link href="./Women_files/css(1)" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="./Women_files/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="./Women_files/icomoon.css">
    <!-- Ion Icon Fonts-->
    <link rel="stylesheet" href="./Women_files/ionicons.min.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="./Women_files/bootstrap.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="./Women_files/magnific-popup.css">
    <!-- Flexslider  -->
    <link rel="stylesheet" href="./Women_files/flexslider.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="./Women_files/owl.carousel.min.css">
    <link rel="stylesheet" href="./Women_files/owl.theme.default.min.css">

    <!-- Date Picker -->
    <link rel="stylesheet" href="./Women_files/bootstrap-datepicker.css">
    <!-- Flaticons  -->
    <link rel="stylesheet" href="./Women_files/flaticon.css">
    <!-- Theme style  -->
    <link rel="stylesheet" href="./Women_files/style.css">
</head>
<body>

    <div class="colorlib-loader" style="display: none;"></div>
    <div id="page">
        <a href="https://colorlib.com/preview/theme/footwear/women.html#" class="js-colorlib-nav-toggle colorlib-nav-toggle colorlib-nav-white"><i></i></a><div id="colorlib-offcanvas">
            <ul>
                <li><a href="https://colorlib.com/preview/theme/footwear/index.html">Home</a></li>
                <li class="offcanvas-has-dropdown">
                    <a href="https://colorlib.com/preview/theme/footwear/men.html">Men</a>
                    <ul class="dropdown">
                        <li><a href="https://colorlib.com/preview/theme/footwear/product-detail.html">Product Detail</a></li>
                        <li><a href="https://colorlib.com/preview/theme/footwear/cart.html">Shopping Cart</a></li>
                        <li><a href="https://colorlib.com/preview/theme/footwear/checkout.html">Checkout</a></li>
                        <li><a href="https://colorlib.com/preview/theme/footwear/order-complete.html">Order Complete</a></li>
                        <li><a href="https://colorlib.com/preview/theme/footwear/add-to-wishlist.html">Wishlist</a></li>
                    </ul>
                </li>
                <li class="active"><a href="https://colorlib.com/preview/theme/footwear/women.html">Women</a></li>
                <li><a href="https://colorlib.com/preview/theme/footwear/about.html">About</a></li>
                <li><a href="https://colorlib.com/preview/theme/footwear/contact.html">Contact</a></li>
                <li class="cart"><a href="https://colorlib.com/preview/theme/footwear/cart.html"><i class="icon-shopping-cart"></i> Cart [0]</a></li>
            </ul>
        </div>
        <nav class="colorlib-nav" role="navigation">
            <div class="top-menu">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-7 col-md-9">
                            <div id="colorlib-logo"><a href="https://colorlib.com/preview/theme/footwear/index.html">Footwear</a></div>
                        </div>
                        <div class="col-sm-5 col-md-3">
                            <form action="https://colorlib.com/preview/theme/footwear/women.html#" class="search-wrap">
                                <div class="form-group">
                                    <input type="search" class="form-control search" placeholder="Search">
                                    <button class="btn btn-primary submit-search text-center" type="submit"><i class="icon-search"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-left menu-1">
                            <ul>
                                <li><a href="https://colorlib.com/preview/theme/footwear/index.html">Home</a></li>
                                <li class="has-dropdown">
                                    <a href="https://colorlib.com/preview/theme/footwear/men.html">Men</a>
                                    <ul class="dropdown">
                                        <li><a href="https://colorlib.com/preview/theme/footwear/product-detail.html">Product Detail</a></li>
                                        <li><a href="https://colorlib.com/preview/theme/footwear/cart.html">Shopping Cart</a></li>
                                        <li><a href="https://colorlib.com/preview/theme/footwear/checkout.html">Checkout</a></li>
                                        <li><a href="https://colorlib.com/preview/theme/footwear/order-complete.html">Order Complete</a></li>
                                        <li><a href="https://colorlib.com/preview/theme/footwear/add-to-wishlist.html">Wishlist</a></li>
                                    </ul>
                                </li>
                                <li class="active"><a href="https://colorlib.com/preview/theme/footwear/women.html">Women</a></li>
                                <li><a href="https://colorlib.com/preview/theme/footwear/about.html">About</a></li>
                                <li><a href="https://colorlib.com/preview/theme/footwear/contact.html">Contact</a></li>
                                <li class="cart"><a href="https://colorlib.com/preview/theme/footwear/cart.html"><i class="icon-shopping-cart"></i> Cart [0]</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sale">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 offset-sm-2 text-center">
                            <div class="row">
                                <div class="owl-carousel2 owl-carousel owl-theme owl-loaded">


                                    <div class="owl-stage-outer owl-height" style="height: 30px;">
                                        <div class="owl-stage" style="transform: translate3d(-2280px, 0px, 0px); transition: all 0s ease 0s; width: 4560px;">
                                            <div class="owl-item cloned" style="width: 760px; margin-right: 0px;">
                                                <div class="item">
                                                    <div class="col">
                                                        <h3><a href="https://colorlib.com/preview/theme/footwear/women.html#">25% off (Almost) Everything! Use Code: Summer Sale</a></h3>
                                                    </div>
                                                </div>
                                            </div><div class="owl-item cloned" style="width: 760px; margin-right: 0px;">
                                                <div class="item">
                                                    <div class="col">
                                                        <h3><a href="https://colorlib.com/preview/theme/footwear/women.html#">Our biggest sale yet 50% off all summer shoes</a></h3>
                                                    </div>
                                                </div>
                                            </div><div class="owl-item" style="width: 760px; margin-right: 0px;">
                                                <div class="item">
                                                    <div class="col">
                                                        <h3><a href="https://colorlib.com/preview/theme/footwear/women.html#">25% off (Almost) Everything! Use Code: Summer Sale</a></h3>
                                                    </div>
                                                </div>
                                            </div><div class="owl-item active" style="width: 760px; margin-right: 0px;">
                                                <div class="item">
                                                    <div class="col">
                                                        <h3><a href="https://colorlib.com/preview/theme/footwear/women.html#">Our biggest sale yet 50% off all summer shoes</a></h3>
                                                    </div>
                                                </div>
                                            </div><div class="owl-item cloned" style="width: 760px; margin-right: 0px;">
                                                <div class="item">
                                                    <div class="col">
                                                        <h3><a href="https://colorlib.com/preview/theme/footwear/women.html#">25% off (Almost) Everything! Use Code: Summer Sale</a></h3>
                                                    </div>
                                                </div>
                                            </div><div class="owl-item cloned" style="width: 760px; margin-right: 0px;">
                                                <div class="item">
                                                    <div class="col">
                                                        <h3><a href="https://colorlib.com/preview/theme/footwear/women.html#">Our biggest sale yet 50% off all summer shoes</a></h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style="display: none;"><i class="icon-chevron-left owl-direction"></i></div><div class="owl-next" style="display: none;"><i class="icon-chevron-right owl-direction"></i></div></div><div class="owl-dots" style="display: none;"></div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <p class="bread"><span><a href="https://colorlib.com/preview/theme/footwear/index.html">Home</a></span> / <span>Women</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcrumbs-two">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="breadcrumbs-img" style="background-image: url(images/cover-img-1.jpg);">
                            <h2>Women's</h2>
                        </div>
                        <div class="menu text-center">
                            <p><a href="https://colorlib.com/preview/theme/footwear/women.html#">New Arrivals</a> <a href="https://colorlib.com/preview/theme/footwear/women.html#">Best Sellers</a> <a href="https://colorlib.com/preview/theme/footwear/women.html#">Extended Widths</a> <a href="https://colorlib.com/preview/theme/footwear/women.html#">Sale</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="colorlib-featured">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 text-center">
                        <div class="featured">
                            <div class="featured-img featured-img-2" style="background-image: url(images/img_bg_2.jpg);">
                                <h2>Casuals</h2>
                                <p><a href="https://colorlib.com/preview/theme/footwear/women.html#" class="btn btn-primary btn-lg">Shop now</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 text-center">
                        <div class="featured">
                            <div class="featured-img featured-img-2" style="background-image: url(images/women.jpg);">
                                <h2>Dress</h2>
                                <p><a href="https://colorlib.com/preview/theme/footwear/women.html#" class="btn btn-primary btn-lg">Shop now</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 text-center">
                        <div class="featured">
                            <div class="featured-img featured-img-2" style="background-image: url(images/item-11.jpg);">
                                <h2>Sports</h2>
                                <p><a href="https://colorlib.com/preview/theme/footwear/women.html#" class="btn btn-primary btn-lg">Shop now</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="colorlib-product">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-xl-3">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="side border mb-1">
                                    <h3>Brand</h3>
                                    <ul>
                                        <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">Nike</a></li>
                                        <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">Adidas</a></li>
                                        <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">Merrel</a></li>
                                        <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">Gucci</a></li>
                                        <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">Skechers</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="side border mb-1">
                                    <h3>Size/Width</h3>
                                    <div class="block-26 mb-2">
                                        <h4>Size</h4>
                                        <ul>
                                            <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">7</a></li>
                                            <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">7.5</a></li>
                                            <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">8</a></li>
                                            <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">8.5</a></li>
                                            <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">9</a></li>
                                            <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">9.5</a></li>
                                            <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">10</a></li>
                                            <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">10.5</a></li>
                                            <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">11</a></li>
                                            <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">11.5</a></li>
                                            <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">12</a></li>
                                            <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">12.5</a></li>
                                            <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">13</a></li>
                                            <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">13.5</a></li>
                                            <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">14</a></li>
                                        </ul>
                                    </div>
                                    <div class="block-26">
                                        <h4>Width</h4>
                                        <ul>
                                            <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">M</a></li>
                                            <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">W</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="side border mb-1">
                                    <h3>Style</h3>
                                    <ul>
                                        <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">Slip Ons</a></li>
                                        <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">Boots</a></li>
                                        <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">Sandals</a></li>
                                        <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">Lace Ups</a></li>
                                        <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">Oxfords</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="side border mb-1">
                                    <h3>Colors</h3>
                                    <ul>
                                        <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">Black</a></li>
                                        <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">White</a></li>
                                        <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">Blue</a></li>
                                        <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">Red</a></li>
                                        <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">Green</a></li>
                                        <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">Grey</a></li>
                                        <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">Orange</a></li>
                                        <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">Cream</a></li>
                                        <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">Brown</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="side border mb-1">
                                    <h3>Material</h3>
                                    <ul>
                                        <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">Leather</a></li>
                                        <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">Suede</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="side border mb-1">
                                    <h3>Technologies</h3>
                                    <ul>
                                        <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">BioBevel</a></li>
                                        <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">Groove</a></li>
                                        <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">FlexBevel</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-xl-9">
                        <div class="row row-pb-md">
                            <div class="col-lg-4 mb-4 text-center">
                                <div class="product-entry border">
                                    <a href="https://colorlib.com/preview/theme/footwear/women.html#" class="prod-img">
                                        <img src="./Women_files/item-1.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
                                    </a>
                                    <div class="desc">
                                        <h2><a href="https://colorlib.com/preview/theme/footwear/women.html#">Women's Boots Shoes Maca</a></h2>
                                        <span class="price">$139.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-4 text-center">
                                <div class="product-entry border">
                                    <a href="https://colorlib.com/preview/theme/footwear/women.html#" class="prod-img">
                                        <img src="./Women_files/item-2.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
                                    </a>
                                    <div class="desc">
                                        <h2><a href="https://colorlib.com/preview/theme/footwear/women.html#">Women's Minam Meaghan</a></h2>
                                        <span class="price">$139.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-4 text-center">
                                <div class="product-entry border">
                                    <a href="https://colorlib.com/preview/theme/footwear/women.html#" class="prod-img">
                                        <img src="./Women_files/item-3.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
                                    </a>
                                    <div class="desc">
                                        <h2><a href="https://colorlib.com/preview/theme/footwear/women.html#">Men's Taja Commissioner</a></h2>
                                        <span class="price">$139.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-lg-4 mb-4 text-center">
                                <div class="product-entry border">
                                    <a href="https://colorlib.com/preview/theme/footwear/women.html#" class="prod-img">
                                        <img src="./Women_files/item-4.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
                                    </a>
                                    <div class="desc">
                                        <h2><a href="https://colorlib.com/preview/theme/footwear/women.html#">Russ Men's Sneakers</a></h2>
                                        <span class="price">$139.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-4 text-center">
                                <div class="product-entry border">
                                    <a href="https://colorlib.com/preview/theme/footwear/women.html#" class="prod-img">
                                        <img src="./Women_files/item-5.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
                                    </a>
                                    <div class="desc">
                                        <h2><a href="https://colorlib.com/preview/theme/footwear/women.html#">Women's Boots Shoes Maca</a></h2>
                                        <span class="price">$139.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-4 text-center">
                                <div class="product-entry border">
                                    <a href="https://colorlib.com/preview/theme/footwear/women.html#" class="prod-img">
                                        <img src="./Women_files/item-6.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
                                    </a>
                                    <div class="desc">
                                        <h2><a href="https://colorlib.com/preview/theme/footwear/women.html#">Women's Boots Shoes Maca</a></h2>
                                        <span class="price">$139.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-lg-4 mb-4 text-center">
                                <div class="product-entry border">
                                    <a href="https://colorlib.com/preview/theme/footwear/women.html#" class="prod-img">
                                        <img src="./Women_files/item-7.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
                                    </a>
                                    <div class="desc">
                                        <h2><a href="https://colorlib.com/preview/theme/footwear/women.html#">Women's Boots Shoes Maca</a></h2>
                                        <span class="price">$139.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-4 text-center">
                                <div class="product-entry border">
                                    <a href="https://colorlib.com/preview/theme/footwear/women.html#" class="prod-img">
                                        <img src="./Women_files/item-8.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
                                    </a>
                                    <div class="desc">
                                        <h2><a href="https://colorlib.com/preview/theme/footwear/women.html#">Women's Boots Shoes Maca</a></h2>
                                        <span class="price">$139.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-4 text-center">
                                <div class="product-entry border">
                                    <a href="https://colorlib.com/preview/theme/footwear/women.html#" class="prod-img">
                                        <img src="./Women_files/item-9.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
                                    </a>
                                    <div class="desc">
                                        <h2><a href="https://colorlib.com/preview/theme/footwear/women.html#">Women's Boots Shoes Maca</a></h2>
                                        <span class="price">$139.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-lg-4 mb-4 text-center">
                                <div class="product-entry border">
                                    <a href="https://colorlib.com/preview/theme/footwear/women.html#" class="prod-img">
                                        <img src="./Women_files/item-10.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
                                    </a>
                                    <div class="desc">
                                        <h2><a href="https://colorlib.com/preview/theme/footwear/women.html#">Women's Boots Shoes Maca</a></h2>
                                        <span class="price">$139.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-4 text-center">
                                <div class="product-entry border">
                                    <a href="https://colorlib.com/preview/theme/footwear/women.html#" class="prod-img">
                                        <img src="./Women_files/item-11.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
                                    </a>
                                    <div class="desc">
                                        <h2><a href="https://colorlib.com/preview/theme/footwear/women.html#">Women's Boots Shoes Maca</a></h2>
                                        <span class="price">$139.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-4 text-center">
                                <div class="product-entry border">
                                    <a href="https://colorlib.com/preview/theme/footwear/women.html#" class="prod-img">
                                        <img src="./Women_files/item-12.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
                                    </a>
                                    <div class="desc">
                                        <h2><a href="https://colorlib.com/preview/theme/footwear/women.html#">Women's Boots Shoes Maca</a></h2>
                                        <span class="price">$139.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-lg-4 mb-4 text-center">
                                <div class="product-entry border">
                                    <a href="https://colorlib.com/preview/theme/footwear/women.html#" class="prod-img">
                                        <img src="./Women_files/item-13.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
                                    </a>
                                    <div class="desc">
                                        <h2><a href="https://colorlib.com/preview/theme/footwear/women.html#">Women's Boots Shoes Maca</a></h2>
                                        <span class="price">$139.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-4 text-center">
                                <div class="product-entry border">
                                    <a href="https://colorlib.com/preview/theme/footwear/women.html#" class="prod-img">
                                        <img src="./Women_files/item-14.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
                                    </a>
                                    <div class="desc">
                                        <h2><a href="https://colorlib.com/preview/theme/footwear/women.html#">Women's Boots Shoes Maca</a></h2>
                                        <span class="price">$139.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-4 text-center">
                                <div class="product-entry border">
                                    <a href="https://colorlib.com/preview/theme/footwear/women.html#" class="prod-img">
                                        <img src="./Women_files/item-15.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
                                    </a>
                                    <div class="desc">
                                        <h2><a href="https://colorlib.com/preview/theme/footwear/women.html#">Women's Boots Shoes Maca</a></h2>
                                        <span class="price">$139.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="block-27">
                                    <ul>
                                        <li><a href="https://colorlib.com/preview/theme/footwear/women.html#"><i class="ion-ios-arrow-back"></i></a></li>
                                        <li class="active"><span>1</span></li>
                                        <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">2</a></li>
                                        <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">3</a></li>
                                        <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">4</a></li>
                                        <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">5</a></li>
                                        <li><a href="https://colorlib.com/preview/theme/footwear/women.html#"><i class="ion-ios-arrow-forward"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="colorlib-partner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 offset-sm-2 text-center colorlib-heading colorlib-heading-sm">
                        <h2>Trusted Partners</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col partner-col text-center">
                        <img src="./Women_files/brand-1.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
                    </div>
                    <div class="col partner-col text-center">
                        <img src="./Women_files/brand-2.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
                    </div>
                    <div class="col partner-col text-center">
                        <img src="./Women_files/brand-3.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
                    </div>
                    <div class="col partner-col text-center">
                        <img src="./Women_files/brand-4.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
                    </div>
                    <div class="col partner-col text-center">
                        <img src="./Women_files/brand-5.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
                    </div>
                </div>
            </div>
        </div>
        <footer id="colorlib-footer" role="contentinfo">
            <div class="container">
                <div class="row row-pb-md">
                    <div class="col footer-col colorlib-widget">
                        <h4>About Footwear</h4>
                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life</p>
                        <p>
                        </p><ul class="colorlib-social-icons">
                            <li><a href="https://colorlib.com/preview/theme/footwear/women.html#"><i class="icon-twitter"></i></a></li>
                            <li><a href="https://colorlib.com/preview/theme/footwear/women.html#"><i class="icon-facebook"></i></a></li>
                            <li><a href="https://colorlib.com/preview/theme/footwear/women.html#"><i class="icon-linkedin"></i></a></li>
                            <li><a href="https://colorlib.com/preview/theme/footwear/women.html#"><i class="icon-dribbble"></i></a></li>
                        </ul>
                        <p></p>
                    </div>
                    <div class="col footer-col colorlib-widget">
                        <h4>Customer Care</h4>
                        <p>
                        </p><ul class="colorlib-footer-links">
                            <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">Contact</a></li>
                            <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">Returns/Exchange</a></li>
                            <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">Gift Voucher</a></li>
                            <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">Wishlist</a></li>
                            <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">Special</a></li>
                            <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">Customer Services</a></li>
                            <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">Site maps</a></li>
                        </ul>
                        <p></p>
                    </div>
                    <div class="col footer-col colorlib-widget">
                        <h4>Information</h4>
                        <p>
                        </p><ul class="colorlib-footer-links">
                            <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">About us</a></li>
                            <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">Delivery Information</a></li>
                            <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">Privacy Policy</a></li>
                            <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">Support</a></li>
                            <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">Order Tracking</a></li>
                        </ul>
                        <p></p>
                    </div>
                    <div class="col footer-col">
                        <h4>News</h4>
                        <ul class="colorlib-footer-links">
                            <li><a href="https://colorlib.com/preview/theme/footwear/blog.html">Blog</a></li>
                            <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">Press</a></li>
                            <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">Exhibitions</a></li>
                        </ul>
                    </div>
                    <div class="col footer-col">
                        <h4>Contact Information</h4>
                        <ul class="colorlib-footer-links">
                            <li>291 South 21th Street, <br> Suite 721 New York NY 10016</li>
                            <li><a href="tel://1234567920">+ 1235 2355 98</a></li>
                            <li><a href="mailto:info@yoursite.com">info@yoursite.com</a></li>
                            <li><a href="https://colorlib.com/preview/theme/footwear/women.html#">yoursite.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>          
        </footer>
    </div>
    <div class="gototop js-top">
        <a href="https://colorlib.com/preview/theme/footwear/women.html#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
    </div>

    <!-- jQuery -->
    <script src="./Women_files/jquery.min.js.download" type="text/javascript"></script>
    <!-- popper -->
    <script src="./Women_files/popper.min.js.download" type="text/javascript"></script>
    <!-- bootstrap 4.1 -->
    <script src="./Women_files/bootstrap.min.js.download" type="text/javascript"></script>
    <!-- jQuery easing -->
    <script src="./Women_files/jquery.easing.1.3.js.download" type="text/javascript"></script>
    <!-- Waypoints -->
    <script src="./Women_files/jquery.waypoints.min.js.download" type="text/javascript"></script>
    <!-- Flexslider -->
    <script src="./Women_files/jquery.flexslider-min.js.download" type="text/javascript"></script>
    <!-- Owl carousel -->
    <script src="./Women_files/owl.carousel.min.js.download" type="text/javascript"></script>
    <!-- Magnific Popup -->
    <script src="./Women_files/jquery.magnific-popup.min.js.download" type="text/javascript"></script>
    <script src="./Women_files/magnific-popup-options.js.download" type="text/javascript"></script>
    <!-- Date Picker -->
    <script src="./Women_files/bootstrap-datepicker.js.download" type="text/javascript"></script>
    <!-- Stellar Parallax -->
    <script src="./Women_files/jquery.stellar.min.js.download" type="text/javascript"></script>
    <!-- Main -->
    <script src="./Women_files/main.js.download" type="text/javascript"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="" src="./Women_files/js" type="text/javascript"></script>
    <script type="text/javascript">
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>


</body>
</html>